@charset "UTF-8";



img.main {
	display: block;
	margin: 10px auto;
	border: 2px double black;
}

article {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
article h1 {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

article p{
	text-align: left;
	line-height: 2em;
	font-weight: 400;
	font-weight: bold;
}

@media only screen and (min-width: 50px) and (max-width: 500px)
{

	img.main {
		width: 100%;
		margin:0px;
		border: none;
		margin-top: 5%;
		z-index: 1;;
	}

	br {
		display: none;
	}

	article {
		
		padding: 0;
	}

	article h1 {
		text-align:  center;
		font-size: 1.7em;
		margin-bottom: 1%;

	}
	article p {
		font-weight: normal;
		text-align: left;
		padding-left: 7%;
		padding-right: 5%;
		line-height: 1.5em;
		font-size: 1.1em;
	}
}