@charset "UTF-8";

/*#aec5cc*/

h1 {
	margin-left: 200px;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 3em;
}

div.profile {
	background-color: #aec5cc;
	margin-left: 100px;
	margin-right:100px;
	margin-bottom: 50px;
	border: 3px double black;
	border-radius: 5px;
	padding: 20px;
}

div.profile h2{
	padding-bottom: 20px;
}

div.picCrop {
	width: 150px;
	height: 181px;
	overflow: hidden;
	margin-bottom: 20px;
}

a.button {
	text-decoration: none;
	background-color: #e79215;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.4em;
	padding: 10px 52px;
	border-radius: 5px; 
}

a.button:hover {
	/*color: #1d95eb;
	background-color: #ffff4f;*/
	opacity: .8;
}

img:hover {
	opacity: 80%;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
	font-variant: small-caps;
}

div.left {
	border-right: 3px double black;
	display: inline-block;
	padding-right: 10px;
	width: 30%;
}

p.bio {
	float: right;
	height: 100%;
	width: 60%;
}