@charset "UTF-8";

img.pic {
	display: block;
	border: 2px double black;
	width: 40%;
	height: auto;
	float: left;
	right: 10px;
	margin-top: 25px;
	margin-left: 25px;
}

article {
	text-align: left;
	float: left;
	clear:both;
	margin-right: 25px;
	margin-top: 19px;
	margin-left: 20px;
	margin-bottom: 50px;
}

article p {
	margin-top: 0px;
}

@media only screen and (min-width: 50px) and (max-width: 500px)
{
	img.pic {
		display: none;
	}

	main {
		display: block;
		position: relative;
		height: 600px;

	nav{
		position: relative;
	}

}