@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 1.8em;
}

h3 {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
}

p {
	font-family: 'Poiret One', cursive;
	font-size: 1.2em;
}

/*Header Area*/
/*Header Area*/
/*Header Area*/



img.logo {
	content: url(../images/smallLogo.png);
	

}

header {
	display: block;
	position: relative;
	border-bottom: 1px solid #333;
	background-color: #355497;
}
	
img.logo {
	width: 100%;
	display: block;
	clear: both;
}

/*Main Area*/
/*Main Area*/
/*Main Area*/

main.jumbotron {
	position: relative;
	width:100%;
	background-color: #fff;
}


img.line {
		width: 100%;
		position: absolute;
		margin-top: -1%;
	}




/*Nav Area*/
/*Nav Area*/
/*Nav Area*/

nav {
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5%;
}
nav a {
	background-color: #e79215;
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	border: 3px double silver;
	border-radius: 5px;
	padding: 0;
}

nav a:hover {
	opacity: .8;
}

/*Footer Area*/
/*Footer Area*/
/*Footer Area*/

img.divider {
		width: 100%;
		position: absolute;
		margin-top: 4.3%;
		left: 0px;
		top: -20px;
	}

footer {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #355497;
	text-align: left;
}



footer p {
	color: #fff;
	padding-left: 10px;
	padding-top: 15px;
}





